@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script>
        $(function () {
            $.getJSON('http://192.168.54.161:4001/sampleapp/getAnalysis', null, function (res) {
                $('.apilist').html();
                $.each(res.lstresult, function (i, v) {
                    $('.apilist').append($('<li class="list-group-item"/>').text(v.appName));
                });
            })
        });
    </script>
}



<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul class="list-group apilist"></ul>
    </div>
</div>

